<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>371213339875-jqj90m1c8eb1jjpbber6li5ks928u28c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.371213339875-jqj90m1c8eb1jjpbber6li5ks928u28c</string>
	<key>API_KEY</key>
	<string>AIzaSyCqDeBwtsWvaXBD67iNS18k-1Au1LkajMo</string>
	<key>GCM_SENDER_ID</key>
	<string>371213339875</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication</string>
	<key>PROJECT_ID</key>
	<string>notely-65c9d</string>
	<key>STORAGE_BUCKET</key>
	<string>notely-65c9d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:371213339875:ios:a361d1e6e2b67440aec9d6</string>
</dict>
</plist>